@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;700&display=swap");

* {
  font-family: "Signika Negative", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0.25turn, #501c5e, #862e9c, #5e206d, #79298c);
}

h1 {
  text-transform: uppercase;
  font-size: 2.5em;
}

.container {
  /*   border: 1px solid #000; */
  margin-top: 1rem;
  padding: 2rem;
  background: linear-gradient(#6b257d, #501c5e, #6b257d, #79298c);
  box-shadow: 10px 10px 30px #5e206d;
  border-radius: 40px;
}

.result-circle {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  border: 7px solid #0d0510;
  display: flex;
  justify-content: center;
  align-items: center;
}

#result {
  font-size: 2.5rem;
  color: #0d0510;
}

#form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.2rem;
  font-size: 1.2em;
  font-weight: 500;
  color: #0d0510;
  text-transform: uppercase;
}

input {
  margin-bottom: 0.8rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #c397ce;
  border: 0;
}

input:last-of-type {
  margin-bottom: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#btn {
  height: 3rem;
  font-size: 1.6em;
  background-color: #b682c4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #0d0510;
}

#btn:hover {
  background-color: #9e58b0;
}

#btn:active {
  box-shadow: 0 1.5px #501c5e;
  transform: translateY(1.5px);
}
